h1 {
	text-align: center;
	color: orange;
	font-family: "Tulpen One", cursive;
	font-size: 40px;
	text-decoration: overline underline;
}
p {
	margin: 5%;
	color: white;
	font-family: "Tulpen One", cursive;
	font-size: 30px;
	width: 70%;
}
body {
	background-color: black;
}
.cv {
	display: flex;
}
.footer {
	display: flex;
	margin: 5%;
}
.mail {
	width: 10%;
	margin: 0;
}
.header {
}
.image {
	margin-right: 5%;
	margin-top: 2.5%;
}
h2 {
	text-align: center;
	font-family: "Tulpen One", cursive;
	font-size: 40px;
	text-decoration: overline underline;
}
ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}
li {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
li h2 {
        position: absolute;
        top: 0px;
        background: white;
        color: black;
        width: 100%;
}
li:hover h2 {
        background: black;
        color: orange;
}
